.cartDiv {
  display: flex;
  width: 11rem;
  background-color: rgb(115, 19, 19);
  border-radius: 1rem;
  height: 2.5rem;
  align-items: center;
  justify-content: center;
}

.cartBtn {
  display: flex;
  width: 9rem;
  align-items: center;
  justify-content: space-evenly;
}

.cartIcon {
  font-size: 1.4rem;
}

.cartCount {
  display: block;
  justify-content: center;
  background-color: rgb(209, 64, 64);
  width: 2rem;
  height: 1.6rem;
  border-radius: 1rem;
}

.cartCount p {
  text-align: center;
  margin: 0.2rem auto;
}
