.modelOverlay {
  width: 50%;
  position: absolute;
  top: 5rem;
  display: flex;
  color: black;
  border-radius: 0.5rem;
  z-index: 15;
}

.modelOvelayChild {
  position: relative;
  width: 100%;
  height: auto;
  background-color: white;
  transform: translate(50%, 60%);
  border-radius: 0.5rem;
}
